<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RepositoryPhysicalPath>D:\Photos\Dev</RepositoryPhysicalPath>
  <UseHardCacheInDisk>true</UseHardCacheInDisk>
  <CacheFolderPhysicalPath>D:\Photos\DevCache</CacheFolderPhysicalPath>
  <ValidImageExtensions>
    <string>.gif</string>
    <string>.jpg</string>
    <string>.bmp</string>
    <string>.pnb</string>
    <string>.tiff</string>
  </ValidImageExtensions>
  <IgnoreFolders>
    <string>.svn</string>
    <string>.git</string>
  </IgnoreFolders>
  <AdminEmails>
    <string>yourdefaultadminemailhere@domain.net</string>
    <string>other@domain.net</string>
  </AdminEmails>
  <ImagesSortCriteria>NameASC</ImagesSortCriteria>
  <FoldersSortCriteria>NameASC</FoldersSortCriteria>
  <Notifications>
    <EmailFrom>youremail@here.net</EmailFrom>
    <PostmarkKey>your-api-key-from-postmark-here</PostmarkKey>
    <Enabled>true</Enabled>
  </Notifications>
  <AnalyticsCode>UA-300651-XXX</AnalyticsCode>
  <HidePrivateFolders>false</HidePrivateFolders>
  <DefaultTheme>bw</DefaultTheme>
  <ReadBackWardsCompatibilityTxtFiles>false</ReadBackWardsCompatibilityTxtFiles>
</Configuration>