<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HAC2CeEntities" connectionString="metadata=res://*/ModelCE.csdl|res://*/ModelCE.ssdl|res://*/ModelCE.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\HAC2.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="HAC2Entities1" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql08.oneandone.co.uk;initial catalog=db214757809;uid=dbo214757809;pwd=TIME1999;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
   
  </system.web>
</configuration>